.container {
  padding: 0 100px;
}

.capability {
  // background: #fff;
  // margin-top: 96px;
}

.capability h2 {
  font-size: 28px;
  line-height: 1.425;
  font-family: var(--font-jost);
}

@media (max-width: 639px) {
  .capabilityItem {
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 1023px) {
  .capabilityItem > div {
    flex: 1 1 100%;
  }
  .capabilityItem > div > div {
    margin-left: 0;
    padding-left: 0;
  }
  .capabilityItemText {
    max-width: 100% !important;
  }
  // .capabilityImage {
  //   width: 200px !important;
  //   height: 200px !important;
  // }

  // .capabilityImageWrapper {
  //   width: 200px !important;
  //   height: 200px !important;
  // }

  .capabilityImage {
    width: 111px !important;
    height: auto !important;
  }

  .capabilityImageHorizontal {
    width: 178px !important;
    height: auto !important;
  }
}

.capabilityItemText {
  // max-width: 188px;
  max-width: 260px;
  align-self: center;
}

// .capabilityImage {
//   width: 232px;
//   height: 232px;
// }

.capabilityImage {
  width: 102px;
  height: 184px;
  position: relative;
  z-index: 10;
}

.capabilityImageHorizontal {
  width: 164px;
  height: 123px;
  position: relative;
  z-index: 10;
}

.capabilityImageWrapper {
  width: 232px;
  height: 232px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .aboutTitle {
//   font-size: 28px;
//   line-height: 1.425;
//   font-weight: bold;
//   font-family: var(--font-noto);
//   color: #111;
//   margin-top: 32px;
//   // margin-bottom: 24px;
// }

// .aboutTitle ruby {
//   letter-spacing: 1px;
// }

// .aboutTitle ruby::before {
//   font-size: 12px;
//   letter-spacing: 7px;
// }

// .aboutTitleImage {
//   flex: 1 0 auto;
//   display: flex;
//   justify-content: flex-end;
// }

// .aboutContainer {
//   padding: 52px 64px 52px 42px;
// }

.capabilityItem:nth-of-type(1) div:nth-of-type(1) .capabilityImageWrapper {
  position: relative;
}
.capabilityItem .capabilityImageWrapper::before {
  content: "";
  display: block;
  position: absolute;
  width: 164px;
  height: 164px;
  background-image: url(/ellipse-line.png);
  background-size: contain;
  background-position: center;
  mix-blend-mode: overlay;
}

.capabilityItem .capabilityImageWrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 204px;
  height: 204px;
  background-image: url(/ellipse-bg.png);
  background-size: contain;
  background-position: center;
  mix-blend-mode: overlay;
}

// .capabilityItem:nth-of-type(1) div:nth-of-type(2) .capabilityImageWrapper {
//   background-color: orange;
// }

// .capabilityItem:nth-of-type(2) div:nth-of-type(1) .capabilityImageWrapper {
//   background-color: blue;
// }

// .capabilityItem:nth-of-type(2) div:nth-of-type(2) .capabilityImageWrapper {
//   background-color: green;
// }
