.container {
  padding: 0 100px;
}

.faq {
  // background: #fff;
  // margin-top: 96px;
}

.faq h2 {
  font-size: 28px;
  line-height: 1.425;
  font-family: var(--font-jost);
}

.faqCard {
  // border: 1px solid rgba(17, 17, 17, 0.2);
  position: relative;
  flex: 0 1 calc(50% - 12px);
  // margin-bottom: 24px;
}

.faqCard::before {
  content: "";
  position: absolute !important;
  top: -5px;
  left: -5px;
  display: block;
  width: 26px;
  height: 26px;
  background: url("/faq.svg");
  background-size: 26px;
  // border: 1px solid rgba(17, 17, 17, 0.2);
  position: relative;
}

.faq h3 {
  font-size: 28px;
  line-height: 1.425;
  font-family: var(--font-jost);
  color: #111;
}

@media (max-width: 768px) {
  .faqItem::before {
    content: "";
    display: block;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #000f44;
    border-right: 2px solid #000f44;
    transform: rotate(-225deg);
  }

  .isOpen::before {
    content: "";
    display: block;
    position: absolute;
    right: 32px;
    top: 36px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #000f44;
    border-right: 2px solid #000f44;
    transform: rotate(-45deg);
  }
}
