.container {
  padding: 0 100px;
}

.footer {
  // background: #fff;
  // margin-top: 96px;
}

.footer h2 {
  font-family: var(--font-jost);
}

.jost {
  font-family: var(--font-jost);
  font-weight: 600;
}

.contact {
  min-height: 1305px;
}
