.container {
  padding: 0 100px 128px;
}

.about {
  background: #fff;
  // margin-top: 96px;
}

.about h2 {
  font-size: 28px;
  line-height: 1.425;
  font-family: var(--font-jost);
}

.aboutTitle {
  font-size: 28px;
  line-height: 1.425;
  font-weight: bold;
  font-family: var(--font-noto);
  color: #111;
  margin-top: 32px;
}

.aboutTitle ruby {
  letter-spacing: 1px;
}

.aboutTitle ruby::before {
  font-size: 12px;
  letter-spacing: 7px;
}

.aboutTitleImage {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
}

// .aboutContainer {
//   padding: 52px 64px 52px 64px;
// }

.aboutContainer {
  padding: 52px 32px 52px 32px;
}
