.container {
  padding: 0 100px;
}

.marketing h2 {
  font-size: 28px;
  line-height: 1.425;
  font-family: var(--font-jost);
}

.marketingItem {
  position: relative;
  counter-increment: title;
}

.marketingItem::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  border-top: 104px solid #80a4ff;
  border-right: 104px solid transparent;
  width: 0;
  height: 0;
}

.marketingItem::after {
  content: counter(title);
  position: absolute;
  top: -8px;
  left: -8px;
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  font-family: var(--font-jost);
  width: 52px;
  text-align: center;
}
